@model WebCrm.Models.IndexViewModel
@{
    ViewBag.Title = "Postavke računa";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Uredi postavke računa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lozinka:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Promjeni lozinku", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Napravi lozinku", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
