
WebCrm/.vs/WebCrm/v15/Server/sqlite3/db.lock
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide-shm
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide-wal
