
WebCrm/.vs/WebCrm/v15/Server/sqlite3/db.lock
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide-shm
WebCrm/.vs/WebCrm/v15/Server/sqlite3/storage.ide-wal
WebCrm/WebCrm/obj/Debug/WebCrm.pdb
WebCrm/WebCrm/obj/Debug/WebCrm.dll
WebCrm/WebCrm/bin/WebCrm.pdb
WebCrm/WebCrm/bin/WebCrm.dll
