@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            @Html.ActionLink("Dobro došli " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Odjavi se</a></li>
    </ul>
    }
}
else
{
<div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">@Html.ActionLink("Registracija", "Register", "Account", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Prijavi se", "Login", "Account", null, new { @class = "nav-link" })</li>
    </ul>
</div>
}
