@using System.Web.UI.WebControls
@using WebCrm.Controllers
@model WebCrm.Models.DashboardViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>WEB CRM</h1>
    <p class="lead">Aplikacija za unos informacija o firmama, osoblju. Uz svaku firmu i osobu je moguće dodati bilješke i zadati sebi zadatke vezane za iste.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zadnje bilješke</h2>
        @foreach (var note in Model.Notes)
        {
        @note.Name
        @note.Description
        }
        @if (Model.Notes.Count < 1)
        {
        <p>Trenutno ne postoji bilješki u sistemu</p>
        }
    </div>
    <div class="col-md-8">

        <h2>Aktuelni zadaci</h2>
        <ul>
            @foreach (var task in Model.Tasks)
            {
            <li >
                <h5>
                    @Html.ActionLink(task.Name, "Details", "TaskList", new {id = task.Id}, new {@class = "" })
                </h5>
                <p>@task.Description</p>
            </li>

            }
        </ul>

    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>